.post-wrapper {
  margin-top: 100px;
}
.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
h1 {
  font-family: "Roboto";
  display: flex;
  align-self: center;
  justify-content: center;
  color: black;
}
